{% extends "base.html" %}

{% block title %}Inicio - Gestor de Productos{% endblock %}

{% block content %}
    <h1>Bienvenido</h1>
    <p class="mt-3">
        <a href="{% url 'lista_productos' %}" class="btn btn-primary">Ver Productos</a>
        <a href="{% url 'crear_producto' %}" class="btn btn-success">Crear Producto</a>
        <a href="{% url 'lista_categorias' %}" class="btn btn-primary">Categorías</a>
        <a href="{% url 'lista_etiquetas' %}" class="btn btn-primary">Etiquetas</a>
        <a href="/admin/" class="btn btn-secondary">Admin</a>
    </p>
{% endblock %}